# MYSQL
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=database

# Host exposed ports
PORT_MYSQL=3306
PORT_NGINX=80
PORT_NGINX_SSL=443
PORT_PHP=9000

# OTHER
CERTBOT_EMAIL=