# Make config
.env

# Database files
db/*
!db/.gitkeep

# Local configuration files
etc/nginx/conf.d/*
!etc/nginx/conf.d/default.conf.dist

# Project files
projects/*
!projects/.gitkeep

# Other
.idea