# Make config
.env

# Database files
db/

# Local configuration files
etc/letsencrypt/*
etc/nginx/nginx.conf
etc/nginx/conf.d/*
!etc/nginx/conf.d/default.conf.dist
etc/nginx/auth/*
!etc/nginx/auth/.gitkeep
etc/php/php.ini

# Exported logs
log/*

# Other
.idea